body {
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.header, .forminput{
  background-color: white;
  text-align: center;
}
