body {
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
  #userData {
    width: 1075px;
   height: 1211px;
   border: 10px;
  }